.notification {
    position: fixed;
    z-index: 3000;
    width: 300px;
    font-size: 14px;
    transition: .3s ease;
    opacity: 0.9;
    background: #fff;
    border-radius: 3px 3px 3px 3px;
    height: max-content;
    box-shadow: 0 0 10px #999;
}

.notification .alert {
    margin: 0;
}

.top-right {
    top: 100px;
    right: 12px;
    transition: transform .3s ease-in-out;
    animation: notification-in-down .3s;
}

.bottom-right {
    bottom: 12px;
    right: 12px;
    transition: transform .3s ease-in-out;
    animation: notification-in-up .3s;
}

.top-left {
    top: 100px;
    left: 12px;
    transition: transform .3s ease-in;
    animation: notification-in-down .3s;
}

.bottom-left {
    bottom: 12px;
    left: 12px;
    transition: transform .3s ease-in;
    animation: notification-in-up .3s;
}

@media (min-width: 768px) {
    .top-right {
        top: 115px;
    }
}
@keyframes notification-in-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 0.9;
    }
}

@keyframes notification-in-up {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}