.signin {
  /* color */
  background: #0088ce;
  background: var(--pf-blue-400);
  background: linear-gradient(135deg, #39a5dc, #0088ce);
  background: linear-gradient(135deg, var(--pf-blue-300), var(--pf-blue-400));
  
  /* display */
  height: 100vh;
  min-width: 320px;
}

.signin-error-container {
  /* display */
  padding-top: 1em;
}

.signin-error {
  /* color */
  background: #EF6962;
  color: #fafafa;
  color: var(--pf-black-100);

  /* display */
  padding: 0.25em 1em;

  /* border */
  border: 1px solid #AE4D48;

  /* font */
  font-size: 1.5em;

  /* other */
  box-shadow: 0 1px 1px rgba(3, 3, 3, 0.175);
}

.signin-logo-container {
  /* display */
  width: 80%;
  margin: 0 auto;
  padding: 1em 0 1em;
}

.signin-logo {
  /* display */
  display: block;
  width: 100%;
}

.signin-container > .signin-card {
  /* display */
  margin: 0;
  margin: 0 auto;
}

.signin-card > .signin-card-title {
  /* font */
  font-size: 1.8em;
  font-weight: 500;
}

.signin-login-btn, .signin-signup-btn {
  /* display */
  margin-top: 1em !important;
}

.signin-login-btn {
  /* display */
  display: block;
  width: 100%;
}

.signin-card .signin-signup-btn {
  /* display */
  display: block;
  width: auto;
  margin: 0 auto;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 500px) {
  .signin-container {
    /* display */
    width: 500px;
    margin: 0 auto;
  }
}