.signin {
  /* color */
  background: #0088ce;
  background: var(--pf-blue-400);
  background: linear-gradient(135deg, #39a5dc, #0088ce);
  background: linear-gradient(135deg, var(--pf-blue-300), var(--pf-blue-400));
  
  /* display */
  height: 100vh;
  min-width: 320px;
}

.signinErrorContainer {
  padding-top: 1em;
}

.signinErrorContainer .signinError {
  margin-bottom: 0;
}

.signinLogoContainer {
  /* display */
  width: 80%;
  margin: 0 auto;
  padding: 1em 0 1em;
}

.signinLogo {
  /* display */
  display: block;
  width: 100%;
}

.signinContainer > .signin-card {
  /* display */
  margin: 0;
  margin: 0 auto;
}

.signinLoginBtn, .signinSignupBtn {
  /* display */
  margin-top: 1em !important;
}

.signinLoginBtn {
  /* display */
  display: block;
  width: 100%;
}


/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 500px) {
  .signinContainer {
    /* display */
    width: 500px;
    margin: 0 auto;
  }
}