.signin {
  /* color */
  background: #0088ce;
  background: var(--pf-blue-400);
  background: linear-gradient(135deg, #39a5dc, #0088ce);
  background: linear-gradient(135deg, var(--pf-blue-300), var(--pf-blue-400));
  
  /* display */
  height: 100vh;
  min-width: 320px;
}

.signin-error-container {
  padding-top: 1em;
}

.signin-error-container .signin-error {
  margin-bottom: 0;
}

.signin-logo-container {
  /* display */
  width: 80%;
  margin: 0 auto;
  padding: 1em 0 1em;
}

.signin-logo {
  /* display */
  display: block;
  width: 100%;
}

.signin-container > .signin-card {
  /* display */
  margin: 0;
  margin: 0 auto;
}

.signin-login-btn, .signin-signup-btn {
  /* display */
  margin-top: 1em !important;
}

.signin-login-btn {
  /* display */
  display: block;
  width: 100%;
}


/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 500px) {
  .signin-container {
    /* display */
    width: 500px;
    margin: 0 auto;
  }
}

.footer-copyrights {
  /* position */
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;

  /* font */
  text-align: center;
  font-size: 0.8em;
}