.welcome-categories {
  /* color */
  background: var(--pf-black-800);
  background: linear-gradient(135deg, var(--pf-black-700), var(--pf-black-800));
  background-image: url('../../../../assets/img/banner_background-categories.png');
  background-repeat: repeat;
  background-size: auto;
  background-position: center;

  /* display */
  padding-bottom: 1em;
}

.welcome-categories-header {
  /* color */
  color: var(--pf-black-100);

  /* display */
  padding: 2em;

  /* font */
  text-align: left;
  font-size: 2em;
  text-shadow: 0 0 1em var(--pf-black);
}

.welcome-categories-container {
  /* display */
  max-width: 110em;
  margin: 0 auto;
  padding: 0 3em;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 768px)  {
  .welcome-categories {
    /* display */
    padding-top: 1em;
    padding-bottom: 6em;
  }

  .welcome-categories-header { text-align: center; }

  .welcome-categories-container {
    /* display */
    display: flex;

    /* flex */
    flex-flow: row wrap;
  }
}
