.welcome-categories {
  /* color */
  background: #393f44;
  background: var(--pf-black-800);
  background: linear-gradient(135deg, #4d5258, #393f44);
  background: linear-gradient(135deg, var(--pf-black-700), var(--pf-black-800));
  background-image: url('../../../../assets/img/banner_chris.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* filter: invert(); */

  padding: 1em;
}

.welcome-categories-header {
  /* color */
  color: white;

  /* display */
  padding: 2em;
  margin: 3em auto;

  /* font */
  text-align: center;
  text-shadow: 0 0 1em #030303;;
  text-shadow: 0 0 1em var(--pf-black);
} .welcome-categories-header .tag {
  font-weight: 800;
  opacity: 0.6;
} .welcome-categories-header h1 {
  font-size: 3em;
  line-height: 1.3;
  margin: 0.25em 0;
  color: var(--pf-blue-300);
} .welcome-categories-header p {
  font-size: 1.5em;
}



.welcome-categories-container {
  /* display */
  /* filter: invert(); */
  max-width: 110em;
  margin: 0 auto;
  padding: 0 3em;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 768px)  {
  .welcome-categories {
    /* display */
    padding: 3em;
  }

  .welcome-categories-container {
    /* display */
    display: flex;

    /* flex */
    flex-flow: row wrap;
  }
}
