@media (min-width: 1px) {
    .card-body-content-parent {
        flex-wrap: wrap;
    }
}
@media (min-width: 598px) {
    .card-body-content-parent {
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) {
    .card-pf-body .blank-slate-pf {
        padding: 70px;
        margin: -20px;
    }
    .card-body-content-parent {
        flex-wrap: wrap;
    }
}
@media (min-width: 992px) {
    .card-pf-body .blank-slate-pf {
        padding: 70px;
        padding-bottom: 65px;
        margin: -20px;
    }
    .card-body-content-parent {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1200px) {
    .card-pf-body .blank-slate-pf {
        margin: -20px;
    }
    .card-body-content-parent {
        flex-wrap: nowrap;
    }
}

.card-pf-body .blank-slate-pf {
    background-color: #fff;
    border: none;
}

.card-body-empty {
    padding: 10px !important;
    background: linear-gradient(
        #72767b,
        #72767b 225px,
        #393f44 225px,
        #393f44 325px);
    min-height: 375px;
    color: white;
    margin: 20px -20px 0 !important;
}

.card-body-header-text {
    text-align: center;
    font-weight: bold;
}

.card-body-subhead {
    text-align: center;
}

.card-body-content-parent {
    display: flex;
}

.card-body-content-child-right {
    padding: 10px 30px 0 60px;
    font-size: 1.2em;
}

.card-view-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card-view-add-plugin {
    text-align: center;
    padding: 33px !important;
}

.card-view-kebob {
    margin-top: -20px !important;
    padding: 5px;
}

.card-view-kebob .dropdown-menu {
    margin-right: 5px;
    min-width: 100px;
}

.card-view-plugin-tag {
    /* color */
    color: #8b8d8f;
    color: var(--pf-black-500);

    /* display */
    display: inline-block;
    margin-right: 0.5em;
    padding: 0 0.25em;

    /* border */
    border-color: #8b8d8f;
    border: 1px solid var(--pf-black-500);
    border-radius: 4px;

    /* font */
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 12px;
}

.card-view-tag-title {
    display: inline-block;
    margin-bottom: -10px;
}

.card-view-app-type {
    font-size: 14px;
    padding: 0 3px 10px 3px;
}

.edit-plugin {
  padding: 20px;
}
