.createplugin {
  display: flex;
  margin: 2em auto;
  margin-bottom: 8em;

  flex-direction: column;
}

.createpluginFormContainer {
  padding: 2em;
  margin: auto
}

#createplugin-form {
  margin: auto;
}

/* ============ INPUT =========== */

#createplugin-upload {
  height: 100%;
  margin: 0;
}

#createplugin-upload-file {
  display: flex;
  flex-direction: row;
}

#createplugin-upload-file .fileupload {
  width: 100%;
} #createplugin-upload-file .fileupload input {
  height: 3em;
  background-color: lightgray !important;
  border: none;
}
#createplugin-upload-icon {
  background-color: lightgray !important;
  padding: 0.25em 0.5em;
  padding-right: 0;
  font-size: 1.5em;
}