/* ============================== */
/* =========== HEADER =========== */
/* ============================== */

.createplugin {
  /* display */
  display: flex;
  min-height: calc(100vh - 66px);

  /* flex */
  flex-direction: column;
}

.createplugin-header {
  /* color */
  background: #f5f5f5;
  background: var(--pf-black-150);
  color: #393f44;
  color: var(--pf-black-800);

  /* border */
  border-bottom-color: #bbbbbb;
  border-bottom: 1px solid var(--pf-black-400);
}

.createplugin-header-container {
  /* display */
  display: flex;
  width: 100%;
}

.createplugin-display-1 {
  /* display */
  padding: 0.3em;

  /* font */
  font-size: 2.5em;
  font-weight: 200;

  /* flex */
  flex: 1;
}

.createplugin-create-btn-container {
  /* display */
  padding: 1.5em 0.75em;
}

/* ============================== */
/* ======= ERROR MESSAGES ======= */
/* ============================== */

.createplugin-message-container {
  /* display */
  padding: 1em;
}

.createplugin-message-container .createplugin-message {
  /* display */
  width: 100%;
  margin-bottom: 0;
}

/* ============================== */
/* ============ FORM ============ */
/* ============================== */

.createplugin-form {
  /* display */
  display: flex;
  width: 100%;
  padding-top: 2em;
}

.createplugin-col:first-of-type {
  /* flex */
  flex: 3;
}

.createplugin-form-fields {
  /* display */
  margin: 0 1em ;
}

/* ============================== */
/* ============ UPLOAD ========== */
/* ============================== */

.createplugin-col:last-of-type {
  /* flex */
  flex: 2;
}

.createplugin-form.form-horizontal .createplugin-form-upload {
  /* display */
  height: 100%;
  margin: 0;
  padding: 0 1em 15px;
}

/* ============ INPUT =========== */

.createplugin-form-upload > input.createplugin-upload {
  /* display */
  display: none;
}

/* =========== INPUT ============ */

.createplugin-form-upload > label.createplugin-upload-label {
  /* display */
  display: flex;
  width: 100%;
  height: 100%;

  /* outline */
  outline-color: #bbbbbb;
  outline: 2px dashed var(--pf-black-400);

  /* font */
  text-align: center;

  /* flex */
  flex-direction: column;
  justify-content: center;

  /* other */
  cursor: pointer;
  transition: outline-color 0.2s;
}

.createplugin-form-upload > label.createplugin-upload-label:hover {
  /* outline */
  outline-color: #8b8d8f;
  outline-color: var(--pf-black-500);
}

.createplugin-form-upload > label.createplugin-upload-label.dragover,
.createplugin-form-upload > label.createplugin-upload-label.hasfile.dragover {
  /* outline */
  outline-color: #0088ce;
  outline-color: var(--pf-blue-400);
}

.createplugin-form-upload > label.createplugin-upload-label.hasfile {
  /* outline */
  outline-width: 1px;
  outline-style: solid;
  outline-color: #bbbbbb;
  outline-color: var(--pf-black-400);
}

.createplugin-form-upload > label.createplugin-upload-label.haserror {
  /* outline */
  outline-color: #a30000;
}

/* ============ BODY ============ */

.createplugin-upload-body {
  /* color */
  color: #bbbbbb;
  color: var(--pf-black-400);

  /* display */
  padding: 0 1em 0.75em;
  
  /* font */
  font-size: 2em;
  font-weight: 600;
  line-height: 1.3;

  /* other */
  transition: color 0.2s;
}

label.createplugin-upload-label:hover > .createplugin-upload-body {
  /* color */
  color: #8b8d8f;
  color: var(--pf-black-500);
}

label.createplugin-upload-label.dragover > .createplugin-upload-body,
label.createplugin-upload-label.hasfile.dragover > .createplugin-upload-body {
  /* color */
  color: #0088ce;
  color: var(--pf-blue-400);
}

label.createplugin-upload-label.hasfile > .createplugin-upload-body {
  /* color */
  color: #8b8d8f;
  color: var(--pf-black-500);
}

label.createplugin-upload-label.haserror > .createplugin-upload-body {
  /* color */
  color: #a30000;
}

.createplugin-upload-body .createplugin-upload-icon {
  /* display */
  display: block;
  padding: 0.15em;

  /* font */
  font-size: 2.5em;
}

/* ============================== */
/* =========== PREVIEW ========== */
/* ============================== */

.createplugin-preview-section {
  /* color */
  background: var(--pf-black-100);

  /* display */
  padding: 4em 0;

  /* flex */
  flex-grow: 1;

  /* other */
  box-shadow: inset 0 2em 2em -2em var(--pf-black-400);
}

.createplugin-preview-section .createplugin-preview-container {
  /* display */
  width: 80%;
  margin: 0 auto;
  padding: 0;

  /* border */
  border: 1px solid var(--pf-black-300);
}

.createplugin-preview-container .createplugin-preview-plugin {
  /* display */
  min-height: 20em;

  /* other */
  box-shadow: 0 0.1em 1em 0 #bbbbbb;
  box-shadow: 0 0.1em 1em 0 var(--pf-black-400);
}