@media (min-width: 598px) {
    .githubCardBody {
        min-height: 711px;
    }
}

@media (min-width: 992px) {
    .githubCardBody {
        min-height: 573px;
    }
}

.githubDescription,
.list-view-pf-description {
    width: 70%;
}

#no-plugin-info-icon {
    color: #0088ce;
    font-size: xx-large;
    padding: 6px;
    display: inline-block;
    vertical-align: middle;
}

.github-plugin-noplugin-title {
    font-weight: bold;
    font-size: medium;
    padding-left: 5px;
}

.pf-c-card__title {
    font-size: larger;
}
