@media (min-width: 598px) {
    .github-card-body {
        min-height: 711px;
    }
}

@media (min-width: 992px) {
    .github-card-body {
        min-height: 573px;
    }
}

.github-description,
.list-view-pf-description {
    width: 70%;
}

#no-plugin-info-icon {
    color: #0088ce;
    font-size: xx-large;
    padding: 6px;
    display: inline-block;
    vertical-align: middle;
}

.github-plugin-noplugin-title {
    font-weight: bold;
    font-size: medium;
    padding-left: 5px;
}

.github-plugin-noplugin-text {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 1.2em;
}
