.welcome-feature {
  /* display */
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  margin: auto;
} .welcome-feature a {
  width: fit-content;
  margin: auto;
}

.welcome-feature-img {
  /* display */
  width: 3em;
  height: 3em;
  /* flex */
  flex-shrink: 0;
  transition: all 0.25s ease;
  /* filter: invert(); */
  opacity: 0.9;
} .welcome-feature-img:hover, 
.welcome-feature-img:active {
  /* width: 5.5em;
  height: 5.5em; */
  opacity: 1;
}

.welcome-feature-text {
  /* color */
  color: #fafafa;
  color: var(--pf-black-100);

  /* font */
  font-size: 0.8em;
  font-weight: 500;
  line-height: 2;
  text-align: center;

  /* display */
  padding: 0.65em;
  margin: auto;
  width: fit-content;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 480px) {
  .welcome-feature {
    /* display */
    padding: 0.5em;
  }

  .welcome-feature-img {
    /* display */
    width: 4.5em;
    height: 4.5em;
  }

  .welcome-feature-text {
    /* font */
    font-size: 1.3em;
    line-height: 2.5;
  }
}

@media (min-width: 768px)  {
  .welcome-feature {
    /* display */
    padding: 1em;

    /* flex */
    flex-direction: column;
  }

  .welcome-feature-img {
    /* display */
    display: block;
    width: 5em;
    height: 5em;
    margin: 0 auto;
  }

  .welcome-feature-text {
    /* font */
    font-size: 1em;
    text-align: center;
    line-height: 1.3;
  }
}
