.welcome-feature {
  /* display */
  display: inline-flex;
  padding: 0.4em;
}

.welcome-feature-img {
  /* display */
  width: 4em;
  height: 4em;
  cursor: pointer;

  /* flex */
  flex-shrink: 0;
}

.welcome-feature-text {
  /* color */
  color: #fafafa;
  color: var(--pf-black-100);
  
  /* font */
  font-size: 1.2em;
  font-weight: 500;
  line-height: 2;

  /* display */
  padding: 0.65em;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 480px) {
  .welcome-feature {
    /* display */
    padding: 0.5em;
  }

  .welcome-feature-img {
    /* display */
    width: 4.5em;
    height: 4.5em;
  }

  .welcome-feature-text {
    /* font */
    font-size: 1.3em;
    line-height: 2.5;
  }
}

@media (min-width: 768px)  {
  .welcome-feature {
    /* display */
    padding: 1em;

    /* flex */
    flex-direction: column;
  }

  .welcome-feature-img {
    /* display */
    display: block;
    width: 5em;
    height: 5em;
    margin: 0 auto;
  }

  .welcome-feature-text {
    /* font */
    font-size: 1em;
    text-align: center;
    line-height: 1.3;
  }
}
