.welcomeFeature {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  margin: auto;
} .welcomeFeature a {
  width: fit-content;
  margin: auto;
}

.welcomeFeatureImg {
  width: 3em;
  height: 3em;
  /* flex */
  flex-shrink: 0;
  transition: all 0.25s ease;
  filter: grayscale() invert();
  opacity: 0.9;
} .welcomeFeatureImg:hover, 
.welcomeFeatureImg:active {
  /* width: 5.5em;
  height: 5.5em; */
  opacity: 1;
}

.welcomeFeatureText {
  /* color */
  color: #fafafa;
  color: var(--pf-black-100);

  /* font */
  font-size: 0.8em;
  font-weight: 500;
  line-height: 2;
  text-align: center;

  padding: 0.65em;
  margin: auto;
  width: fit-content;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 480px) {
  .welcomeFeature {
    padding: 0.5em;
  }

  .welcomeFeatureImg {
    width: 4.5em;
    height: 4.5em;
  }

  .welcomeFeatureText {
    /* font */
    font-size: 1.3em;
    line-height: 2.5;
  }
}

@media (min-width: 768px)  {
  .welcomeFeature {
    flex-direction: column;
  }

  .welcomeFeatureImg {
    display: block;
    width: 5em;
    height: 5em;
    margin: 0 auto;
  }

  .welcomeFeatureText {
    /* font */
    font-size: 0.8em;
    text-align: center;
    line-height: 1.3;
  }
}
