/* CSS variables */

:root {
  --pf-global--FontSize--md: 14px !important;

  /* PRIMARY COLORS */

  /* black */
  --pf-black-100: #fafafa;

  --pf-black-150: #f5f5f5;

  --pf-black-200: #ededed;

  --pf-black-300: #d1d1d1;

  --pf-black-400: #bbbbbb;

  --pf-black-500: #8b8d8f;

  --pf-black-600: #72767b;

  --pf-black-700: #4d5258;

  --pf-black-800: #393f44;

  --pf-black-900: #292e34;

  --pf-black: #030303;

  /* blue */
  --pf-blue-50: #def3ff;

  --pf-blue-100: #bee1f4;

  --pf-blue-200: #7dc3e8;

  --pf-blue-300: #39a5dc;

  --pf-blue-400: #0088ce;

  --pf-blue-500: #00659c;

  --pf-blue-600: #004368;

  --pf-blue-700: #002235;
}

/* ============================== */
/* ---------- GLOBAL CSS -------- */
/* ============================== */

article {
  margin: auto;
  margin-bottom: 4em;
  max-width: 1200px;
}

section { 
  margin: 2em auto;
  padding: 1em;
}

/* Typography */
h1, h2, h3 {
  font-size: 2.5em !important;
  margin-top: 0.25em !important;
  margin-bottom: 0.5em !important;
}

h2 {
  font-size: 1.75em !important;
}
h1 + h2 {
  margin-top: 0 !important;
  margin-bottom: 0.5em !important;
}

h3 {
  font-weight: 500 !important;
  font-size: 1.25em !important;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bolder;
  position: relative;

  /* Remove blue highlight in mobile */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================== */
/* ---------- HELPER CSS -------- */
/* ============================== */

.row {
  /* display */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto !important;
}

.text-light {
  /* color */
  color: #8b8d8f;
  color: var(--pf-black-500);
}

.text-white {
  /* color */
  color: #fafafa;
  color: var(--pf-black-100);
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 768px)  {
  .row:not(.no-flex) { display: flex; }
}

.margin-right-sm {
    margin-right: 5px;
}