#welcome-chris {
  min-height: 400px;
  padding: 2em;
}


#welcome-user-cta {
  padding: 6em 0.5em 8em 0.5em;
  text-align: center;
}


#welcome-user-cta-header {
  margin-bottom: 0.5em;
} #welcome-user-cta-header .tag {
  font-weight: 800;
  opacity: 0.6;
} #welcome-user-cta-header h1 {
  font-size: 3em;
  line-height: 1.3;
  margin: 0.25em 0;
  color: var(--pf-blue-500);
} #welcome-user-cta-header p {
  font-size: 1.5em;
}


#welcome-chris-text-container > div {
  font-weight: 400;
  font-size: 3em;
} #welcome-chris-text-container > p { 
  font-size: 1.3em; 
}


#welcome-chris-video {
  width: 100%;
  height: 200px;
  margin: 1em auto;
} #welcome-chris-video-desc {
  padding: 1em 1em 0 0;
  margin: auto;

  text-align: center;
  line-height: 1.5;
  max-width: 75%;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 480px)  {
  #welcome-chris-video { height: 50vw; }
}

@media (min-width: 768px)  {
  #welcome-user-cta {
    padding: 6em 2em 8em 2em;
  } 
  #welcome-user-cta-header h1 {
    font-size: 4em;
  }
  #welcome-chris-video {
    width: 45vw;
    height: 25.3vw;
  }
}

@media (min-width: 1108px) {
  #welcome-chris-video {
    width: 500px;
    height: 281.25px;
  }
}

@media (min-width: 1267px) {
  #welcome-chris-text-container { 
    padding: 5em 2em;
    width: auto; 
  }
}
