#developer-signup-form {
    color: black;
}

#developer-signup-creating {
    vertical-align: super;
}

#developer-signup-creating {
    vertical-align: super;
}

.pf-c-card__body:hover {
    background-color: #ffffff;
}
