.welcome-categories-container > div {
  margin-bottom: 20px;
  flex: 1;
}

.welcome-category{
  /* border */
  border-top-color: #39a5dc;
  border-top: 4px solid var(--pf-blue-400);
}

.welcome-category > .welcome-category-header {
  /* font */
  font-weight: 500;
  font-size: 2em;
  text-align: center;
}

.welcome-category-item {
  /* display */
  display: flex;
  margin: 1em auto;
}

.welcome-category-item-img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale();
}

.welcome-category-item-body { padding-left: 2em; }

.welcome-category-item-name {
  /* color */
  color: #39a5dc;
  color: var(--pf-blue-300);

  /* font */
  font-size: 1em;
  font-weight: 600;
  white-space: pre-wrap;
  
  margin: 0;
}

.welcome-category-item-desc {
  /* color */
  color: #8b8d8f;
  color: var(--pf-black-500);

  /* font */
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.welcome-category-item-tags {
  /* color */
  color: #d1d1d1;
  color: var(--pf-black-300);
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 768px)  {
  .welcome-categories-container > div >.welcome-category{
    /* display */
    margin: 0 10px 20px;

    /* flex */
    flex: 1;
    flex-grow: 1;
  }
}
