header {
  /* shadow */
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
}

nav.navbar-default {
  /* display */
  height: 132px;

  /* position */
  position: relative;
}

div.navbar-row {
  /* display */
  display: flex;
}

div.navbar-row > .navbar-header {
  /* flex */
  flex: 1;
}

header .row > .navbar-header > .navbar-logo {
  /* display */
  padding: 0 !important;
  margin: 8px 0;

  /* other */
  outline: 0;
}

.navbar-logo-img {
  /* display */
  width: 243px;
  height: 48px;
}

.navbar-header > .navbar-search.search-pf {
  /* color */
  color: #ededed;
  color: var(--pf-black-200);

  /* display */
  display: block;

  /* position */
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
}

.navbar-header > .navbar-search.search-pf > .form-group {
  /* display */
  display: block;
}

.navbar-search > .has-icon .search-icon {
  /* display */
  display: flex;
  width: 64px;
  height: 64px;

  /* font */
  font-size: 1.5em;

  /* flex */
  flex-direction: column;
  justify-content: center;
}

.navbar-search .form-group .form-control {
  /* color */
  color: #ededed;
  color: var(--pf-black-200);
  background: #292e34;
  background: var(--pf-black-900);

  /* display */
  padding: 32px 66px;

  /* font */
  font-size: 1.2em;
  font-weight: 600;

  /* border */
  border: 0;
  border-radius: 0;

  /* other */
  box-shadow: none;
}

.navbar-search .form-control::placeholder {
  /* color */
  color: #ededed;
  color: var(--pf-black-200);

  /* font */
  font-style: normal;
}

.navbar-trigger {
  /* color */
  color: #ededed;
  color: var(--pf-black-200);

  /* display */
  margin: 12px 15px;
  padding: 0 10px;

  /* font */
  font-size: 2em;

  /* other */
  float: right;
  cursor: pointer;
}

/* ===== INACTIVE NAV LINKS ===== */

header .navbar.navbar-default .navbar-right > li > a:hover {
  /* color */
  color: #d1d1d1;
  color: var(--pf-black-300);
}

header .navbar.navbar-default .navbar-right > li > a {
  /* color */
  color: #fafafa;
  color: var(--pf-black-100);

  /* display */
  padding: 22px 15px;

  /* font */
  font-size: 1.2em;
}

header .navbar.navbar-default .navbar-right > li > a.navbar-signin-btn-link {
  /* display */
  margin: 16px 13px;
  padding: 0;
}

/* ====== ACTIVE NAV LINKS ====== */

header .navbar.navbar-default .navbar-right > li > a.active {
  /* color */
  color: #fafafa;
  color: var(--pf-black-100);

  /* other */
  cursor: default;
}

header .navbar.navbar-default .navbar-right > li > a.active:hover {
  /* color */
  background: inherit;
}

/* ======= NAVBAR DROPDOWN ====== */

header > .navbar-dropdown {
  /* color */
  background: #1d1d1d;

  /* border */
  border-bottom-color: #393f44;
  border-bottom: 1px solid var(--pf-black-800);

  /* other */
  z-index: 1;
}

.navbar-btn-container {
  /* font */
  line-height: 1;
}

/* ==== INACTIVE DROPDOWN BTN === */

.navbar-dropdown-btn {
  /* display */
  display: block;
  padding: 0.5em;

  /* color */
  color: #fafafa;
  color: var(--pf-black-100);

  /* font */
  font-size: 2em;
  font-weight: 600;
}

.navbar-dropdown-btn:hover {
  /* color */
  background: #292e34;
  background: var(--pf-black-900);
}

.navbar-signin-dropdown-btn-link {
  /* display */
  display: block;
}

.navbar-signin-dropdown-btn-link > .navbar-signin-dropdown-btn {
  /* display */
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;

  /* font */
  font-size: 1.5em;
}
.login-button{
  background: #06c !important;
  color: white !important;
}
/* ===== ACTIVE DROPDOWN BTN ==== */

.navbar-dropdown-btn.active {
  /* color */
  background: #1d1d1d;
  color: #fafafa;
  color: var(--pf-black-100);

  /* other */
  cursor: default;
}

.navbar-btn-container .navbar-dropdown-btn:hover,
.navbar-btn-container .navbar-dropdown-btn:focus {
  color: #fafafa;
  color: var(--pf-black-100);
  text-decoration: none;
}

/* ========= RESPONSIVE ========= */

@media (min-width: 480px) {
  header .navbar-header > .navbar-logo {
    /* display */
    margin: 0 0 0 25px;
  }
}

@media (min-width: 768px) {
  nav.navbar-default { height: 66px; }

  .navbar-header > .navbar-search.search-pf {
    /* color */
    color: inherit;

    /* display */
    display: table;
    margin: 19px 0;
    padding-left: 1em;

    /* position */
    position: static;
  }

  .navbar-search .form-group {
    /* position */
    position: relative;

    /* display */
    margin: 0;
  }

  .navbar-search > .has-icon .search-icon {
    /* color */
    color: #d1d1d1;
    color: var(--pf-black-300);

    /* display */
    width: 1.35em;
    height: 1.35em;

    /* font */
    font-size: 1.5em;
  }

  .navbar-search .form-group .form-control {
    /* color */
    background: inherit;
    color: #d1d1d1;
    color: var(--pf-black-300);

    /* display */
    padding: 0 0 0 2em;

    /* font */
    font-size: 1.3em;
    font-weight: 600;
  }

  .navbar-search .form-control::placeholder {
    /* color */
    color: #d1d1d1;
    color: var(--pf-black-300);
  }

  .navbar-trigger, .navbar-dropdown { display: none; }
  .collapse.in { display: none !important; }
}
@media (min-width: 1110px) {
  header .row > .navbar-header > .navbar-logo {
    /* display */
    margin-left: 0;
  }
}
