.bash-line-container {
  /* display */
  display: flex;

  /* position */
  position: relative;
}

.bash-line-command {
  /* color */
  background: var(--pf-black-200);

  /* display */
  width: 0;
  height: 48px;
  padding: 10px;
  padding-right: 46px;

  /* font */
  font-family: 'Inconsolata';
  font-size: medium;

  /* border */
  border-left: 0.5em solid var(--pf-blue-500);

  /* other */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* flex */
  flex: 1;
}

/* import iconsolata font */
@font-face {
  font-family: 'Inconsolata';
  src: url('../../../../assets/fonts/Inconsolata/Inconsolata-Regular.ttf') format('ttf'),
       url('../../../../assets/fonts/Inconsolata/Inconsolata-Regular.woff2') format('woff2'),
       url('../../../../assets/fonts/Inconsolata/Inconsolata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
