#developer-cta {
  /* color */
  padding: 3em;
  max-height: 100vh;
  background: #393f44;
  background: var(--pf-black-800);
  background: linear-gradient(135deg, #4d5258, #393f44);
  background: linear-gradient(135deg, var(--pf-black-700), var(--pf-black-800));
  background-image: url('../../../../assets/img/banner_chris.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 425px) {
  #developer-cta {
    min-height: 55rem;
    box-sizing: content-box;
  }
}

#developer-cta-header {
  color: #fafafa;
}

#developer-cta-header h2 {
  font-size: 3em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1em;
}
