.title-bar {
    /* color */
    color: #393f44;
    color: var(--pf-black-800);

    /* display */
    padding: 1em;

    /* font */
    font-size: 1.5em;
    font-weight: 600;
}

.dashboard-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
}

.dashboard-left-column {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 10px;
    margin-bottom: 10px;
}

.dashboard-right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dashboard__developercta-button {
    height: 50px;
    width: 100%;
}

.dashboard-body {
    margin-top: -20px;
}
.dashboard-container {
    margin: 0 auto;
    margin-top: 20px;
}

@media (min-width: 768px){
    .dashboard-container{
        width: 760px;
    }
}
@media (min-width: 992px){
    .dashboard-container{
        width: 980px;
    }
}
@media (min-width: 1200px){
    .dashboard-container{
        width: 1180px;
    }
}