#dashboard-container {
    margin: auto;
}
@media (min-width: 768px) {
    #dashboard-container {
        width: 1200px;
    }
}

#title-bar {
    margin-top: 1em;
    padding: 1em 2em;
}
#title-name {
    color: #393f44;
    color: var(--pf-black-800);
    font-size: 1.5em;
    font-weight: 600;
}
#title-actions-container {
    display: flex;
    flex-direction: row-reverse;
} #title-actions-container > div {
    margin-left: 1em;
}

#dashboard-spinner {
    display: flex;
    flex-direction: column;   
    padding: 4em;
} #dashboard-spinner > * {
    margin: auto;
}

#dashboard-body {
    margin: 2em;
}

