.footer {
  /* color */
  background: #292e34;
  background: var(--pf-black-900);
  /* background: linear-gradient(#292e34, #030303);
  background: linear-gradient( var(--pf-black) 25%, var(--pf-black-900)); */
  color: #fafafa;
  color: var(--pf-black-100);

  /* display */
  padding: 5em 1em;
  padding-bottom: 8em;

  /* position */
  position: relative;

  /* font */
  font-size: 1.4em;
}

.footerRow {
  /* display */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto !important;
}

.footerHeader {
  /* display */
  padding: 0.4em 1em;

  /* font */
  font-size: 1.3em;
  line-height: 1.3;
  white-space: pre-line;
}

.footerHeader > strong {
  font-size: 1.2em;
}

.footerLogo {
  /* display */
  padding-bottom: 2em;

  /* flex */
  flex: 1;
  flex-shrink: 0;
}

.footerLogo > img {
  /* display */
  width: 95%;
  max-width: 358.8px; /* img initial width (598px) * (3/5) */
  height: auto;
}

.footerBody {
  /* flex */
  flex: 2;
}

.footerDesc {
  font-weight: 300;
}

.footerLinks {
  /* display */
  margin-top: 2em;

  /* font */
  text-align: center;
}

.footerLink {
  /* display */
  padding-top: 0.3em;

  /* font */
  font-weight: 600;
}

.footerLink > a {
  color: #fafafa;
}

.footerLink > a:hover {
  text-decoration: none;
  color: #39a5dc;
}

.footerCopyright {
  /* position */
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;

  /* font */
  text-align: center;
  font-size: 0.8em;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 480px) {
  .footerHeader {
    /* display */
    padding: 0.35em 0.8em;

    /* font */
    font-size: 1.4em;
    line-height: 1.3;
  }

  .footerBody {
    /* display */
    padding-right: 3em;
  }

  .footerLinks {
    /* display */
    display: flex;
    height: 8em;

    /* font */
    text-align: left;

    /* flex */
    flex-flow: column wrap;
  }
}

@media (min-width: 590px) {
  .footerLinks {
    height: 7em;
  }
}

@media (min-width: 768px) {
  .footerRow {
    display: flex;
  }

  .footerLogo {
    min-width: 330px;
  }

  .footerLinks {
    height: 8em;
  }
}

@media (min-width: 935px) {
  .footerLinks {
    height: 7em;
  }
}
