.instructions {
  /* display */
  padding: 20px;
}

.instructions-container {
  /* display */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto !important;
}

.instructions-header { margin-bottom: 25px; }

.instructions-source {
  /* font */
  font-size: 0.5em;

  /* other */
  float: right;
}

.instructions-steps { border-top: 1px solid var(--pf-black-300); }

.instructions-step .instructions-number {
  /* font */
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5;
}

.instructions-body {
  /* display */
  display: flex;

  /* flex */
  flex-flow: column;
  justify-content: center;
}

.instructions-body h3 {
  /* display */
  margin: 10px 0;

  /* font */
  line-height: 1.5;
}

.instructions-body .bash-line-container { margin: inherit; }

.instructions-body > *:first-child { margin-top: 0; }

.instructions-body > *:last-child { margin-bottom: 0; }

.instructions-step > * {
  /* display */
  margin: 30px 0;

  /* font */
  line-height: 2;
}

.instructions-step pre {
  /* color */
  background: var(--pf-black-200);

  /* display */
  display: inline;
  padding: 0.1em 0.3em;

  /* font */
  font-size: inherit;

  /* border */
  border: 0;
}

.instructions-step:not(:last-child) { border-bottom: 1px solid var(--pf-black-300); }

.instructions-number > sub {
  /* color */
  color: var(--pf-black-500);

  /* display */
  display: block;

  /* font */
  line-height: 1.3;
}

.instructions-body > a {
  /* display */
  display: block;
  margin: 15px 0;

  /* font */
  font-size: medium;
}

/* responsive breakpoints */
@media (min-width: 480px)  {
  .instructions { padding: 4em; }
}

@media (min-width: 700px) {
  .instructions-step { display: flex; }

  .instructions-number {
    /* flex */
    flex: 1;
  }

  .instructions-body {
    /* flex */
    flex: 3;
  }
}
