* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 12px !important;
  font-weight: 400;
  color: black
}

input:focus, textarea:focus, select:focus{
  outline: none !important;
}