.welcome-cta {
  font-size: 1.4em;

  /* color */
  /* background: #393f44;
  background: var(--pf-black-800);
  background: linear-gradient(135deg #4d5258, #393f44);
  background: linear-gradient(135deg, var(--pf-black-700), var(--pf-black-800)); */
  background: url('../../../../assets/img/banner_chris-users.png');
  background: linear-gradient(transparent, var(--pf-blue-600) 96%, var(--pf-blue-500) 100%),
    linear-gradient(transparent, #0b68b440, var(--pf-blue-300)), 
    url('../../../../assets/img/banner_chris-users.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  color: #fafafa;
  color: var(--pf-black-100);

  
  /* vertically align text in div */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

#welcome-cta-header {
  margin: 2em 0;
  text-align: center;
  padding: 2em 0;
} #welcome-cta-header h1 {
  font-size: 5em !important;
  font-weight: 600 !important;
  line-height: 1.25;
  margin: 0.5em 0;
  color: white;
} #welcome-cta-header p {
  font-size: 1.5em !important;
  line-height: 1.25 !important;
  max-width: 600px;
}

.welcome-cta .welcome-cta-featured-container {
  display: flex;
  width: 300px;
  width: fit-content;

  /* flex */
  flex-flow: row;
  flex-wrap: wrap;
} .welcome-cta-featured-container > * {
  flex: 1;
}

/* ============================== */
/* ---------- ANIMATIONS -------- */
/* ============================== */

@keyframes fadein {
  0% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 480px)  {
  .welcome-cta-header {
    font-size: 2em;
  }
}

@media (min-width: 768px)  {
  .welcome-cta-header {
    font-size: 2.5em;
    padding: 4em 0;
  }

  .welcome-cta .welcome-cta-featured {
    padding: 3em 0 6em 0;
  }
}
