.welcome-cta {
  font-size: 1.4em;
}

.welcome-cta-img {
  /* color */
  background: var(--pf-black-800);
  background: linear-gradient(135deg, var(--pf-black-700), var(--pf-black-800));
  background-image: url('../../../../assets/img/banner_chris-users.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--pf-black-100);

  /* display */
  padding: 3em 30px;

  /* font */
  text-shadow: 3px 3px 6px var(--pf-black);

  /* vertically align text in div */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome-cta-header {
  /* font */
  font-size: 1.3em;
  line-height: 1.3;
}

.welcome-cta-featured {
  /* color */
  background: var(--pf-blue-400);
  background: linear-gradient(var(--pf-blue-300), var(--pf-blue-400));

  /* display */
  min-height: 300px;
  padding-bottom: 1.5em;
}

.welcome-cta-featured-desc {
  /* color */
  color: var(--pf-black-100);

  /* display */
  padding: 1.5em 1em;

  /* font */
  text-align: center;
  font-weight: 300;
}

.welcome-cta .welcome-cta-featured-container {
  /* display */
  display: flex;
  width: 300px;
  width: fit-content;

  /* flex */
  flex-direction: column;
}

.welcome-cta-featured-container > * {
  flex: 1;
}

.welcome-scroll-caret {
  /* color */
  color: var(--pf-black-100);

  /* display */
  display: none;

  /* font */
  font-size: 2em;
  text-align: center;
}

.welcome-user-cta {
  /* display */
  padding: 6em 2em;
  padding-bottom: 8em;
}

.welcome-user-cta-header {
  /* display */
  margin-bottom: 0.5em;

  /* font */
  font-size: 2em;
}

/* ============================== */
/* ---------- ANIMATIONS -------- */
/* ============================== */

@keyframes fadein {
  0% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 480px)  {
  .welcome-cta-img {
    /* display */
    padding: 3em 2em;
  }

  .welcome-cta-header {
    /* font */
    font-size: 1.9em;
  }
}

@media (min-width: 768px)  {
  .welcome-cta-img {
    /* display */
    min-height: 300px;
    /* fill up the entire page except for the features (300px) and navbar (66px) */
    height: calc(100vh - 325px - 66px);
    padding: 0;
  }

  .welcome-cta-header {
    /* font */
    font-size: 2.5em;
  }

  .welcome-cta-featured {
    /* display */
    min-height: 325px;
    padding-bottom: 0;
  }

  .welcome-cta .welcome-cta-featured-container {
    /* display */
    width: auto;

    /* flex */
    flex-direction: row;
  }

  .welcome-cta-header { padding: 0 8%; }

  .welcome-scroll-caret {
    /* display */
    display: block;

    /* other */
    animation: fadein 2s;
  }

  .welcome-user-cta {
    width: 70%;
  }
}
